<html lang='en'>

  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <link href='css/bootstrap-datetimepicker.min.css' rel='stylesheet' />

    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
      integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
      crossorigin='anonymous'
    />

    <!-- Bootstrap CSS -->
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
      integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
      crossorigin='anonymous'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Anton&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      type='text/css'
      href='//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css'
    />
    <link
      rel='stylesheet'
      type='text/css'
      href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    />
    <link rel='stylesheet' href='/css/style.css' />
    <link
      rel='stylesheet'
      href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css'
    />

    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.datatables.net/v/bs4/dt-1.11.3/date-1.1.1/datatables.min.css'
    />

    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'
    ></script>
    <script src='https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
    />
    <title>Ventas SuperMami</title>
  </head>

  <body>

    {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      type='text/javascript'
      language='javascript'
      src='https://code.jquery.com/jquery-3.5.1.js'
    ></script>
    <script
      type='text/javascript'
      language='javascript'
      src='https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js'
    ></script>
    <script
      type='text/javascript'
      language='javascript'
      src='https://cdn.datatables.net/fixedcolumns/4.0.0/js/dataTables.fixedColumns.min.js'
    ></script>
    <script
      type='text/javascript'
      language='javascript'
      src='https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js'
    ></script>
    <script
      type='text/javascript'
      language='javascript'
      src=' https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'
    ></script>

    <script
      type='text/javascript'
      language='javascript'
      src=' https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js'
    ></script>
    <script
      type='text/javascript'
      language='javascript'
      src='https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js'
    ></script>
    <script src='https://unpkg.com/sweetalert/dist/sweetalert.min.js'></script>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js'
    ></script>

    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'
    ></script>
    <script src='https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js'></script>
    <script src='js/bootstrap-datetimepicker.min.js'></script>

    <script
      type='text/javascript'
      src='https://cdn.datatables.net/v/bs4/dt-1.11.3/date-1.1.1/datatabl'
    ></script>
    <script
      type='text/javascript'
      src='https://cdn.datatables.net/plug-ins/1.11.3/dataRender/ellipsis.js'
    ></script>

  </body>

</html>